apiVersion: v1 
kind: PersistentVolumeClaim
metadata:
  name: actual-pvc
  namespace: tracking
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-path
