apiVersion: apps/v1
kind: Deployment
metadata:
  name: actual-server
  namespace: tracking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: actual-server
  template:
    metadata:
      labels:
        app: actual-server
    spec:
      containers:
        - name: actual-server
          image: actualbudget/actual-server:latest
          ports:
            - containerPort: 5006
          volumeMounts:
            - name: data
              mountPath: /data
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - node src/scripts/health-check.js
            initialDelaySeconds: 20
            periodSeconds: 60
            timeoutSeconds: 10
            failureThreshold: 3
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - node src/scripts/health-check.js
            initialDelaySeconds: 20
            periodSeconds: 60
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: actual-pvc
